body{
    background-color:rgb(190, 214, 243); 
}

.timer button {
    width:70px;
    background-color:rgba(122, 202, 226, 0.998);
    color: black;
    border-radius: 5px;
}

p{
    color:rgb(93, 93, 246);
    border-width: 1px;
    border-color: black;
    border-style:double;
    padding: 5px;
}

.timer{
    float: left;
    text-align: center;
    width:30%;
}

.clearfix{
    clear: both;
    
}
button{
    width:100%;
    background-color:rgba(122, 202, 226, 0.998);
    color: black;
    border-radius: 5px;

}

.modal{
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0.9);
    display: none;
    
}

.modal-content{
    margin:auto;
    display: block;
    width: 80%;
    text-align: center;
    padding: 10px;
    border-color: aqua;
    border-width: 10%;
    border-style:double;
    background-color: cadetblue;
}


